<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <!--<a class="navbar-brand" href="<%= $SUB_DIRECTORY %>">RSyntaxTree</a>-->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#" style='color: #434343;'>RSyntaxTree</a>
      <a class="nav-item nav-link" href="#about">概要</a>
      <a class="nav-item nav-link" target="_blank" rel="noopener noreferrer"
         href="https://yohasebe.github.io/rsyntaxtree/documentation_ja">使い方</a>
      <a class="nav-item nav-link" target="_blank" rel="noopener noreferrer"
         href="https://yohasebe.github.io/rsyntaxtree/examples">ギャラリー</a>
      <a class="nav-item nav-link" href="/"><small>English Version</small></a>
    </div>
  </div>
</nav>
